body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
}

header {
    background-color: #c5bfdb;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 4rem;
}


img {
    max-width: 100%;
    height: auto;
}

/* ... Box code ... */


.code-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 35px;
    height: 200px; /* Altura fixa da caixa de rolagem */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
}

/* ... Box code ... */

.canvas {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
}


h1 {
    text-align: center;
    font-size: 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 7rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}


footer {
    background-color: #c5bfdb;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem; /* Tamanho de fonte menor para o rodapé */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.875rem;
    }
}
