body {
    background-image: linear-gradient(to bottom, #484b01, #7a7e00, #ffffff, #ffffff, #ffffff);
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    color: white;
    position: relative;

}

h1 {
    font-size: 2rem;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-card {

    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    width: 1100px;

}



.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.zoom-image {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
}

p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
}

.code-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.code-disclaimer {
    font-style: italic;
    color: #888;
}

footer {
    text-align: center;
    background-color: #fff;
    padding: 10px 0;

}

footer p {
    color: #B9BF04;
}




@media (max-width: 750px) {
    .container-card {
        width: 100%; 
        border-radius: 0; 
        margin: 0; 
        margin-bottom: 20px;
        box-shadow: none; 
    }

    /* Outros elementos a serem ajustados conforme necessário */
}